

* {
    margin: 2px;
}

:root {
    --colorHeaderAndFooter: #E6E8E6;
    --colorMain: #9FB8AD;
    --colorNav: #CED0CE;
    --colorArticle: #9FB8AD;
    --colorAside: #CED0CE;
    --colorFont: #000505;
    --colorLinks: #23022E;

  }


  
body {
    font-size: 24px;
    color: var(--colorFont);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: var(--colorHeaderAndFooter);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1;
}
/*    LINKS BAR                 
.flex-links {
    display: flex;
    align-self: center;
}

.flex-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: var(--colorLinks);
}

.flex-links a:hover {
    background-color: #CED0CE;
    color: var(--colorLinks);
}
////////////////////////////*/

.flex-nav {
    background-color: var(--colorNav);
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-article {
    background-color: var(--colorArticle);
    padding-top: 3rem;
    flex: 3 3;
}

.flex-aside {
    background-color: var(--colorAside);
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-footer {
    background-color: var(--colorHeaderAndFooter);
    padding-top: 3rem;
    padding-bottom: 3rem;
}


@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}