

* {
    margin: 2px;
}


:root {

	/*List of colors*/
    --colorHeaderAndFooter: #E6E8E6;
    --colorMain: #9FB8AD;
    --colorNav: #CED0CE;
    --colorArticle: #9FB8AD;
    --colorAside: #CED0CE;
    --colorFont: #000505;
    --colorLinks: #23022E;

	--colorBlack: #000000;
	--colorRawUmber: #855A42;
	--colorOxfordBlue: #1A2C47;
	--colorSilver: #D0C2BD;
	--colorMortuum: #472928;
	--colorAirForceBlue: #537d8d;
	--colorChamoise: #b07c5d;
	--colorFlame: #e4572e;
	--colorFlagGreen: #32af61;
	--colorFlagYellow: #fee533;
  }

/*/////////////////////////////**/
  
body {
    font-size: 24px;
    color: var(--colorFont);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: var(--colorOxfordBlue);
	color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1;
}

/*TOP NAVIGATION BAR LINKS*/
.flex-links {
	background-color: var(--colorArticle);
    display: flex;
    align-items: center;
	
}

.flex-links a {
	flex: 1;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: var(--colorMortuum)	;
}


.flex-links a:hover {
    background-color: #CED0CE;
    color: var(--colorLinks);
}

/*/////////////////////////////**/



/*Inner page links*/
.links {
	text-decoration: none;
	color: var(--colorChamoise);

}

.links:hover {
    color: var(--colorLinks);
	font-weight: 900;
}

/*/////////////////////////////**/

/*SKILLS container*/
.flex-nav {
	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;
	margin: 0;
	justify-content: flex-start;
	
}

ul {
    list-style-type: none;
    text-align: center;
}

/*ABOUT ME container*/
.flex-article {
	margin-left: auto;
	margin-right: auto;
    color: var(--colorArticle);
    padding-top: 3rem;
    flex: 3 3;
	text-align: justify;
	justify-content: center;

	
	
}

.flex-article img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;

}

/*BOUT ME container alignment of pictures and text*/
.content-container {
	margin-left: auto;
	margin-right: auto;
    display: flex;
    align-items: center;
	background-color: white;

}


/*RESOUCES container and links*/

.flex-aside {
	
	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;

}

.flex-aside nav {
	display: flex;
	flex-direction: column;
}

.flex-aside nav a {
	text-decoration: underline;
	color: var(--colorChamoise);

}

.flex-aside nav a:hover {
    color: var(--colorLinks);
	font-weight: 900;
}

/*FOOTER container*/
.flex-footer {
    background-color: var(--colorChamoise);
    padding-top: 3rem;
    padding-bottom: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.flex-footer h2 {
	color: white;
}
/*LAST MODIFIED appearance ---------------------------*/
p {
	margin: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: var(--colorFlame);
	border-radius: 10px;
}


/*////////////////////////////////////////////////////*/

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}