* {
    margin: 2px;
}


:root {

	/*List of colors*/
    --colorTopBanner: #1a1b41; /*Top banner bg*/
    --colorHeader: #ebe9e9; /*Top banner font*/
    --colorArticle: #1a1b41; /*Navbar buttons bg*/
    --colorArticleButton: #292b66; /*Navbar buttons*/
    --colorMortuum: #ebe9e9; /*Navbar buttons font*/
    --colorButtonsHover: #ebe9e9; /*Navbar buttons Hover Bg*/
    --colorChamoise: #ff9f1c; /*Footer bg*/
    --colorAboutMeTopBg: #ebe9e9;

    --colorMain: #9FB8AD;
    --colorNav: #CED0CE;
    --colorAside: #CED0CE;
    --colorFont: #000505;
    --colorLinks: #23022E;
	--colorBlack: #011627;
	--colorRawUmber: #855A42;
	--colorSilver: #D0C2BD;
	--colorAirForceBlue: #537d8d;
	--colorFlame: #e4572e;
	--colorFlagGreen: #32af61;
	--colorFlagYellow: #fee533;
  }

  
body {
    font-size: 24px;
    color: var(--colorFont);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: var(--colorTopBanner);
	color: var(--colorHeader);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex-main {
    display: flex;
    flex: 1;
    
}

/*TOP NAVIGATION BAR LINKS*/
.flex-links {
	background-color: var(--colorArticle);
    display: flex;
    justify-content: space-around;
}

.flex-links a {
	flex: 1;
    text-decoration: none;
    text-align: center;
    padding: 1px;
    color: var(--colorMortuum);
    background-color: var(--colorArticleButton);
    border-radius: 10%;
}

.flex-links a:hover {
    background-color: var(--colorButtonsHover);
    color: var(--colorLinks);
}

/*Inner page links*/
.links {
	text-decoration: none;
	color: var(--colorChamoise);

}

.links:hover {
    color: var(--colorLinks);
	font-weight: 900;
}

ul {
    list-style-type: none;
    text-align: center;
}

/*ABOUT ME container*/
.flex-article {
	margin-left: auto;
	margin-right: auto;
    color: var(--colorArticle);
    padding-top: 3rem;
    flex: 3 3;
	text-align: center;
	justify-content: center;
}

.flex-article img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;

}

/*ABOUT ME containers for pictures and text*/
.content-container {
	margin-left: auto;
	margin-right: auto;
    display: flex;
    align-items: center;
}

/*PROJECTS container*/
.flex-nav {
	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;
	justify-content: flex-start;  
    
}

.flex-nav nav {
    display: flex;
	flex-direction: column;
}

.flex-nav a {
    text-decoration: underline;
	color: var(--colorChamoise);
}

.flex-nav nav a:hover {
    color: var(--colorLinks);
	font-weight: 900;
}

/*RESOURCES container*/
.flex-aside {
	
	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;
    
}

.flex-aside nav {
	display: flex;
	flex-direction: column;
}

.flex-aside nav a {
	text-decoration: underline;
	color: var(--colorChamoise);

}

.flex-aside nav a:hover {
    color: var(--colorLinks);
	font-weight: 900;
}


/*FOOTER container*/
.flex-footer {
    background-color: var(--colorChamoise);
    padding-top: 1rem;
    padding-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.flex-footer h2 {
	color: white;
}
/*LAST MODIFIED appearance ---------------------------*/
p {
	margin: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: var(--colorFlame);
	border-radius: 10px;
}



@media all and (max-width: 914px) {
    .flex-main {
        flex-direction: column;
    }

    /*HEADER BANNER*/
    .flex-header {
        background-color: var(--colorTopBanner);
        color: var(--colorHeader);
        font-size: small;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    /*PROJECTS container*/
    .flex-nav {
        color: var(--colorChamoise);
        padding-top: 0.5rem;
        flex: 1 1 5rem;
        justify-content: flex-start;  
        
    }

    /*ABOUT ME container*/
    .flex-article {
        margin-left: auto;
        margin-right: auto;
        color: var(--colorArticle);
        padding-top: 0.5rem;
        flex: 3 3;
        text-align: justify;
        justify-content: center;
    }

    /*RESOURCES container*/
    .flex-aside {
	
        color: var(--colorChamoise);
        padding-top: 0.5rem;
        flex: 1 1 5rem;
        
    }

}