

* {
    margin: 2px;
}

:root {
    --colorHeaderAndFooter: #E6E8E6;
    --colorMain: #9FB8AD;
    --colorNav: #CED0CE;
    --colorArticle: #9FB8AD;
    --colorAside: #CED0CE;
    --colorFont: #000505;
    --colorLinks: #23022E;

	--colorBlack: #000000;
	--colorRawUmber: #855A42;
	--colorOxfordBlue: #1A2C47;
	--colorSilver: #D0C2BD;
	--colorMortuum: #472928;
	--colorAirForceBlue: #537d8d;
	--colorChamoise: #b07c5d;
	--colorFlame: #e4572e;
  }


  
body {
    font-size: 24px;
    color: var(--colorFont);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: var(--colorOxfordBlue);
	color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1;
}
/*LINKS*/
.flex-links {
	background-color: var(--colorArticle);
    display: flex;
    align-items: center;
}

.flex-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: var(--colorMortuum)	;
}

.flex-links a:hover {
    background-color: #CED0CE;
    color: var(--colorLinks);
}
/*////////////////////////////*/

.flex-nav {
	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;
	margin: 0;
}

.flex-article {
	
    color: var(--colorArticle);
    padding-top: 3rem;
    flex: 3 3;
	
}

.flex-article img {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}


.flex-aside {

	color: var(--colorChamoise);
    padding-top: 3rem;
    flex: 1 1 5rem;

}


ul {
    list-style-type: none;
    text-align: center;
}

/* Set the font size bigger for the first list item */
.flex-nav ul li:first-child,
.flex-aside ul li:first-child {
    font-size: 28px; 
}



.flex-footer {
    background-color: var(--colorChamoise);
    padding-top: 3rem;
    padding-bottom: 3rem;
}


@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}