@media screen and (min-width: 1000px) {
  main {
    position: relative;
  }

  .heads h2::after {
    content: " ⛅";
  }

.section-top-left,
.section-top-right {
font-size: 0.8rem;    
position: absolute; /* Position them on top of the image */
transform: translateY(-50%); /* Offset them vertically (adjust as needed) */
color: white;  
}


}



