* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {

	/*List of colors*/
    --colorHeaderAndFooter: #E6E8E6;
    --colorMain: #9FB8AD;
    --colorNav: #CED0CE;
    --colorArticle: #9FB8AD;
    --colorArticleButton: #abcebf;
    --colorAside: #CED0CE;
    --colorFont: #000505;
    --colorLinks: #23022E;

	--colorBlack: #000000;
	--colorRawUmber: #855A42;
	--colorOxfordBlue: #1A2C47;
	--colorSilver: #D0C2BD;
	--colorMortuum: #472928;
	--colorAirForceBlue: #537d8d;
	--colorChamoise: #b07c5d;
	--colorFlame: #e4572e;
	--colorFlagGreen: #32af61;
	--colorFlagYellow: #fee533;
  }


  h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: left;
	margin: 1rem;
}

nav {
	max-width: 700px;
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	/*height: 100vh;*/
}

/* large view navigation ************************************/
 
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}



section {
    margin: 1rem auto;
    max-width: 960px;
    background-color: red;
  }
  
  .container {
    display: grid;
    grid-gap: 25px; /* Spacing between images */
    place-items: center;
  }
  
  
  /* Show 2 images in a row for medium screens */
  @media only screen and (max-width: 767px) and (min-width: 481px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
  }
  
  /* Show 1 image per row for small screens */
  @media only screen and (max-width: 480px) {
    .container {
      grid-template-columns: repeat(1, 1fr); /* One column */
    }
  }

figure {background-color:#fff;}
img { width: 100%; height: auto; /*margin: .5rem*/;}
figcaption {font-size: smaller;}

.hover:hover {box-shadow: 0 0 50px #333;}



body {
    font-size: 24px;
    color: var(--colorFont);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.flex-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: green;
}

/*TOP NAVBAR LINKS*/

.flex-links {
	background-color: var(--colorArticle);
    display: flex;
    justify-content: space-around;
    
	
}

.flex-links a {
	flex: 1;
    text-decoration: none;
    text-align: center;
    padding: 1px;
    color: var(--colorMortuum);
    background-color: var(--colorArticleButton);
    border-radius: 10%;
}



/*FOOTER container*/
.flex-footer {
    background-color: var(--colorChamoise);
    padding-top: 3rem;
    padding-bottom: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.flex-footer h2 {
	color: white;
}

/*Last modified ---------------------------*/
p {
	margin: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: var(--colorFlame);
	border-radius: 10px;
}

