@media screen and (min-width: 500px) {

    
    header {
      background-color: black;
      color: white;
    }
  
    
    main {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two columns of equal size */
      grid-gap: 1rem; /* Maintains gap between sections */
    }
  }